<input type="checkbox" id="check">
<label for="check" class="toggle"><i class="fas fa-bars"></i></label>
<img class="logo" src="../../img/pages/tigru.jpg">
<ul>
    <li class = "item"><a href="../Catalog/animale.html">Catalog</a></li>
    <li class = "item"><a href="#program">Program</a></li>
    <li class = "item"><a href="#harta">Harta</a></li>
    <li class = "item"><a href="#rezerva">Rezerva un loc</a></li>
    <li class = "item"><a href="#echipa">Staff</a></li>
    <li class = "item"><a href="../LoginRegister/index.php">Login</a></li>
</ul>