* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d2e9d8;
  }

@font-face {
    font-family: manrope-regular;
    src: url(Resources/Fonts/Manrope-Regular.ttf);
}

/* Meniu */
.menu {
    background-color: #22a244;
    list-style-type: none;
    position: sticky;
    font-size: 17px;
    width: 100%;
    height: 80px;
}

.item a {
    text-decoration: none;
    color: #f2f2f2;
    text-transform: uppercase;
    padding: 10 15px;
    border-radius: 3px;
    background-color: #22a244;
}

.toggle {
    background-color: #22a244;
    color: #f2f2f2;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    padding: 10 15px;
    border-radius: 3px;
    margin-top: 14px;
    display: none;
}

#check {
    display: none;
}

.toggle:hover {
    background-color:  #0e251a;
    transition: all .5s;
}

.toggle i {
    background-color: #22a244;
}

.toggle:hover i {
    background-color:  #0e251a;
    transition: .5s;
}

.logo {
    background-color: #22a244;
    width: 115px;
    padding: 15px 0px 15px 40px; 
}

.menu ul {
    background-color: #22a244;
    float: right;
    margin-right: 20;
}

.menu ul li {
    background-color: #22a244;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.item a:hover {
    background-color:  #0e251a;
    transition: .5s;
}
/* Meniu stop */


/* ----------------------------- */
#pagina-animale {
    display: flex;
    flex-direction: row;
}


/*  Partea stanga a paginii */
#bara-filtre {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 10px;
    border-right: solid black 1px;
}

#bara-filtre  h1 {
    flex-wrap: wrap;
    font-size: 50px;
    color: rgb(24, 24, 24);
    font-weight: 10px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toate-filtrele {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
}

.filtru {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.nume-filtru {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    align-content: center;
}

.nume-filtru p, .nume-filtru img {
    background-color: #ffffff;
}

/* .nume-filtru p {
    margin-right: 30px;
} */


/* Partea dreapta a paginii */
#partea-dreapta-pagina {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: 10px;
}


/* Bara de sus din partea dreapta*/
#bara-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    line-height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bara-control section {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

#bara-control section button, #bara-control section.sort-buton-drop {
    margin-left: auto;
}

/* Butonul care selecteaza dupa ce fac sortarea elementelor din pagina */
#buton-sortare {
    width: auto;
    margin: 10px;
    align-content: center;
    background-color: #ffffff;
    padding: 14 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#buton-sortare img {
    background-color: #ffffff;
    margin-right: 30px;
    margin-left: 20px;
}

#buton-sortare p {
    font-size: 14px;
    background-color: #ffffff;
    margin-right: 20px;
}

#grid-linie, #grid-patrate {
    width: auto;
    align-content: center;
    margin: 10px;
    background-color: #ffffff;
    padding: 10 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#grid-linie img, #grid-patrate img {
    background-color: #ffffff;
}

#bara-de-cautare {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    align-content: center;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
}

#bara-de-cautare:hover {
    background-color: #c5c2c2;
}

#buton-sortare:hover, #buton-sortare:hover p, #buton-sortare:hover img {
    background-color: #c5c2c2;
}

#buton-sortare:focus, #buton-sortare:focus p, #buton-sortare:focus img {
    background-color: #c5c2c2;
}

#grid-linie:hover, #grid-linie:hover img {
    background-color: #c5c2c2;
}

#grid-linie:focus, #grid-linie:focus img {
    background-color: #c5c2c2;
}

#grid-patrate:hover, #grid-patrate:hover img {
    background-color: #c5c2c2;
}

#grid-patrate:focus, #grid-patrate:focus img {
    background-color: #c5c2c2;
}


.sort-buton-drop {
    position: relative;
    display: inline-block;
}

#optiuni-sortare-buton {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 20;
    background-color: #ffffff;
    min-width: 160px;
}

#optiuni-sortare-buton a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

#optiuni-sortare-buton a:hover {
    background-color: #c5c2c2;
}

.show {
    display: block;
}


/* Partea unde voi avea casetele cu fiecare animal in parte afisat in functie de filtre */
#animale-casute {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 10px;
    overflow: hidden;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    background-color: aqua;
}

/* definirea unei casete cu un animal in ea */
.casuta-animal {
    margin: 20px;
    position: relative;
    /* flex-direction: row; */
    border: solid black 1px;
    border-radius: 10px;
    width:25%;
}

/* numele animalului ce va aparea in caseta */
.nume-animal {
    /* position: absolute; */
    align-content: center;
}


/* editarea continutului paginii in functie de dimensiunea dispozitivului */
@media only screen and (max-width:850px) {
    #pagina-animale {
        display: flex;
        flex-direction: column;
    }

    #bara-filtre {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        border: solid black 1px;
    }
}

/* Media query pentru navbar */
@media only screen and (max-width:850px) {
    .toggle {
        display: block;
        background-color: #22a244;
    }

    .toggle i {
        background-color: #22a244;
    }

    .menu {
        position: absolute;
    }

    .menu ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0d7529;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        background-color: #0d7529;
    }

    .menu ul li a {
        font-size: 20px;
        background-color: #0d7529;
    }

    .menu ul li a:hover {
        background: none;
        color: #0e251a;
        transition: none;
    }

    #check:checked ~ ul {
        left: 0;
        z-index: 10;
    }
}