* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #00291f;
    /*background-color: #d80c0c;*/
  }

.background {
      background-color: #ebfff7;
  }

  /* Add a black background color to the top navigation */
.topnav {
    position: sticky;
    top: 0;
    background-color: #769385;
    text-align: center;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display : inline-block;
    position: relative;
    color: #00291f;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a.loggo {
    width: 10;
    display : inline-block;
    position: relative;
    padding: 10px 50px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #637e71;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  @media screen and (max-width: 800px) {
    .topnav a {
      float:none;
      width: 100%;
    }
  }

  #intro {
    background-image:linear-gradient(to bottom,rgba(99, 49, 226, 0) 0%,
    #ebfff7 100%), url('tigru.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .title{
    color:#00291f;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  }

  .text{
      color : #00291f;
      font-size:17;
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  }

  .tabel
  {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  .th
  {
    border:1px solid black;
    padding: 5px;
    font-size: larger;
  }

  .map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .staff{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50%;
    width:200px;
  }

  .tabel_staff{
      padding-left: 100px;
      padding-right: 100px;
  }

  .center {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:500;
    background-color: #a5ceba;
    margin-left: 600px;
    margin-right: 600px;
    font-size: 20px;
  }

